JWT_SECRET=
DB_PASSWORD=
POSTGRES_USER=luxor
POSTGRES_DB=luxor9
POSTGRES_PASSWORD=
MAILGUN_API_KEY=
MAILGUN_PUBLIC_KEY=
AMAZON_ASSOC_TAG=
PARTNERSTACK_TOKEN=
CJ_API_KEY=
PLAUSIBLE_API_KEY=
GA4_MEASUREMENT_ID=
GA4_API_SECRET=
